body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #860111;
    font-family: 'Montserrat', sans-serif; /* Define Montserrat como a fonte padrão para o corpo do documento */

}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'League Spartan', sans-serif; /* Define League Spartan como a fonte para os títulos */
}

header {
    background-color: #080808;
    padding: 5px;
    color: #f8f8ff;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 1px solid #080808;
    /* Adiciona borda na parte inferior do nav */
    padding-bottom: 5px;
}

/* Estilo de hover para a logo */
header .logo img:hover {
    transform: scale(1.05); 
}

/* Estilo de hover para os links */
header nav ul li a:hover {
    color: #860111; /* Vermelho */
    transition: color 0.3s ease; /* Transição suave da cor */
}

.logo {
    margin-right: auto;
}

.logo img {
    max-width: 80px;
    border-radius: 50%;
    margin-left: 30px;
    transition: transform 0.3s ease; 
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 150px;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #f8f8ff;
    text-decoration: none;
    font-size: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    /* Ajusta a direção do layout para coluna */
    justify-content: space-between;
    /* Distribui o espaço entre as seções */
    height: calc(100% - 50px);
    /* Subtrai a altura do cabeçalho */
    padding: 20px;
}

.container {
    display: inline;
    justify-content: center;
    align-items: center;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.white-bg {
    background-color: #f8f8ff;
    color: #080808 !important;
    height: 80%;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.white-bg h2 {
    font-size: 50px;
}

.white-bg p {
    font-size: 25px;
}

.black-bg {
    background-color: #080808;
    color: #f8f8ff !important;
    height: 80%;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.black-bg h2 {
    font-size: 50px;
}

.black-bg p {
    font-size: 25px;
}

.section h2 {
    margin-bottom: 10px;
    color: #860111;
}

[data-component="slideshow"] .slide {
    display: none;
}

[data-component="slideshow"] .slide.active {
    display: block;
}

[data-component="slideshow"] .slide img {
    max-width: 50%;
    /* Define a largura máxima da imagem como 100% do contêiner */
    height: auto;
    /* Permite que a altura seja ajustada automaticamente para manter a proporção */

}

.divefundo {
    background-color: #080808;
    /* Define a cor de fundo como preto com 50% de transparência */
    border-radius: 15px;
    /* Arredonda as bordas */
    padding: 20px;
    /* Adiciona preenchimento interno para evitar que o conteúdo toque nas bordas arredondadas */
    margin-top: 20px;
    transition: transform 0.3s ease;
}

.divefundo:hover {
    transform: scale(1.05); /* Aumenta a escala em 5% */
    transition: transform 0.3s ease; /* Transição suave de escala */
}

.somos{
    transition: transform 0.3s ease;
}

.somos:hover {
    transform: scale(1.05); /* Aumenta a escala em 5% */
    transition: transform 0.3s ease; /* Transição suave de escala */
}

.valores {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infodiv {
    display: inline;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 2%;
    margin-right: 2%;
    transition: transform 0.3s ease;
}

.infodiv:hover{
    transform: scale(1.05); /* Aumenta a escala em 5% */
    transition: transform 0.3s ease; /* Transição suave de escala */
}

.infodiv a {
    color: inherit; /* Mantém a cor do texto herdada */
    text-decoration: none; /* Remove a decoração de link (a linha) */
    font-size: 35px; /* Define o tamanho da fonte */
}

.infodiv a:hover {
    color: #860111; /* Muda a cor do texto para vermelho no hover */
}

footer {
    background-color: #f8f8ff; /* Fundo branco */
    color: #080808; /* Texto preto */
    text-align: center; /* Centraliza o texto */
    padding: 20px 0; /* Adiciona espaçamento interno */
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
