/* Reset de margens e preenchimentos para o body e html */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #860111;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

/* Estilo para todos os títulos */
h1, h2, h3, h4, h5, h6 {
    font-family: 'League Spartan', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #080808;
    padding: 5px;
    color: #f8f8ff;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 1px solid #080808;
    padding-bottom: 5px;
}

/* Estilo de hover para a logo */
header .logo img:hover {
    transform: scale(1.05); 
}

header nav ul li a{
    transition: color 0.3s ease;
}

/* Estilo de hover para os links */
header nav ul li a:hover {
    color: #860111;
    transition: color 0.3s ease;
}

.logo {
    margin-right: auto;
}

.logo img {
    max-width: 80px;
    border-radius: 50%;
    margin-left: 30px;
    transition: transform 0.3s ease; 
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 150px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #f8f8ff;
    text-decoration: none;
    font-size: 30px;
}

.infodiv{
    transition: transform 0.3s ease;
}

.infodiv a {
    color: inherit; /* Mantém a cor do texto herdada */
    text-decoration: none; /* Remove a decoração de link (a linha) */
    font-size: 35px; /* Define o tamanho da fonte */
}

/* Estilos para o conteúdo */
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 50px);
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.white-bg {
    background-color: #f8f8ff;
    color: #080808;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.black-bg {
    background-color: #080808;
    color: #f8f8ff;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.white-bg h2, .black-bg h2 {
    font-size: 50px;
}

.white-bg p, .black-bg p {
    font-size: 25px;
}

/* Estilos para o rodapé */
footer {
    background-color: #f8f8ff;
    color: #080808;
    text-align: center;
    padding: 20px 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

[data-component="slideshow"] .slide {
    display: none;
}

[data-component="slideshow"] .slide.active {
    display: block;
}

[data-component="slideshow"] .slide img {
    max-width: 50%;
    height: auto;
}

/* Regras de mídia para tornar o cabeçalho responsivo */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .logo img {
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}

/* Regras de mídia para tornar o conteúdo responsivo */
@media screen and (max-width: 768px) {
    .white-bg, .black-bg {
        margin-left: 10px;
        margin-right: 10px;
    }

    .white-bg h2, .black-bg h2 {
        font-size: 30px;
    }

    .white-bg p, .black-bg p {
        font-size: 20px;
    }
}

.divefundo{
    transition: transform 0.3s ease;
}

.divefundo:hover {
    transform: scale(1.05); /* Aumenta a escala em 5% */
    transition: transform 0.3s ease; /* Transição suave de escala */
}

.somos{
    transition: transform 0.3s ease;
}

.somos:hover {
    transform: scale(1.05); /* Aumenta a escala em 5% */
    transition: transform 0.3s ease; /* Transição suave de escala */
}

.infodiv:hover{
    transform: scale(1.05); /* Aumenta a escala em 5% */
    transition: transform 0.3s ease; /* Transição suave de escala */
}

.infodiv a:hover {
    color: #860111; /* Muda a cor do texto para vermelho no hover */
}